body {
 margin: 0;
 font-family: sans-serif;
}

nav {
 position: fixed;
 left: 1rem;
 top: -5px;
 background-color: #eee;
 border: 1px solid #999;
 border-radius: 5px;
 border-width: 0 1px 1px 1px;
 padding: .5rem;
}

nav a:hover {
 background-color: #ddd;
 padding: .5rem 0;
 color: #333;
}

section.board {
 width: 500px;
 height: 500px;
 display: flex;
 flex-wrap: wrap;
 margin: 4em auto;
 box-sizing: border-box;
}

section>div {
 flex: 1;
 flex-basis: 9%;
 height: 10%;
 border: 1px solid #ddd;
 font-size: .7rem;
}

.remote {
 max-width: 50rem;
 margin: 1rem auto;
 display: block;
 display: flex;
}

div.counter {
 flex: 1;
 display: flex;
 width: 12rem;
 height: 3rem;

 background-color: #ddd;
 border: 2px solid #999;
 line-height: 2rem;
 font-size: 1.7rem;
 margin: 1rem;
 padding: 0 .4rem;
}

div.counter p {
 padding: .2rem;
 margin: 0;
 line-height: 3rem;
}

div.counter span {
 flex: 1;
 display: inline-block;
 /* height: 100%; */
 font-weight: bold;
 background-color: #777;
 color: #eee;
 padding: .2rem 1rem;
 line-height: 3rem;
}

button.reset {
 flex: 1;
 margin: .1rem 1rem;
 padding: .5rem;
 border: 2px solid #aaa;
 background-color: #fff;
}

button.first_mover {
 flex: 1;
 margin: 1rem;
 border: 3px solid #ddd;
 background-color: #fff;
 font-size: 2rem;
}

.black {
 background-color: #000;
}

main {
 border: 1px solid #999;
 border-radius: 10px;
 background-color: #eee;
 max-width: 50rem;
 margin: 1rem auto;
 padding: 1rem;
}

section.board div.margin {
 /* flex-basis: 0%;
 height: 10%; */
 /* display: none; */
}