section.board {
 width: 500px;
 height: 500px;
 display: flex;
 flex-wrap: wrap;
 margin: 4em auto;
 box-sizing: border-box;
}

section>div {
 flex: 1;
 flex-basis: 9%;
 height: 10%;
 border: 1px solid #ddd;
}

.black {
 background-color: #000;
}
